<% @result.each do |bar| %>
<%= bar['name'] %>
<br>
<%= bar['price_level'] %>
<br>
<%= bar['rating'] %>
<br>
<%= bar['vicinity'] %>
<br>
<div>--------------------------------------------</div>
<% end %>
