
<div class="buttons-toggle">
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary form-check-label">
    <input class="form-check-input" type="radio" name="options" id="option1" autocomplete="off">
    Plus tôt
    </label>

    <label class="btn btn-primary form-check-label active">
      <input class="form-check-input" type="radio" name="options" id="option2" autocomplete="off" checked> Pareil
    </label>

    <label class="btn btn-primary form-check-label">
      <input class="form-check-input" type="radio" name="options" id="option3" autocomplete="off"> Plus tard
    </label>
  </div>
</div>
