<div class="share-top">

  <div class="text-dispo home-top3">
    <h1>Dommage, une prochaine fois !</h1>
  </div>
</div>

<%= form_tag(event_meeting_path(@event, @meeting), method: :patch) do %>
      <div class="form-container">
        <div id="form-user">
          <%= text_area_tag :name, "", class: 'form-control form-input', placeholder: "Ton nom pour prévenir #{@event.users.first.name}", required: true%>
          <br>
        </div>
      </div>
    <%= submit_tag "Prévenir #{@event.meetings.where(organizer: true)[0].user.name}", class: "btn-red-wm no-border button-dommage" %>
  <% end %>

  </div>


