<div class="bg-image-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1513558161293-cdaf765ed2fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80)">
  <div class="container">
    <div class="d-flex align-items-start pt-3 pb-3">
      <%= image_tag "WeMeet-white.png", class: "logo-white"  %>
    </div>
    <div class="text-dispo pt-3">
      <p>Dommage, une prochaine <br>fois !</p>
    </div>
    <%= form_tag(event_meeting_path(@event, @meeting), method: :patch) do %>
      <div class="form-container">
        <div id="form-user">
          <%= text_area_tag :name, "", class: 'form-control form-input', placeholder: "Ton nom", required: true%>
          <br>
        </div>
      </div>
      <div class="btn-bottom">
        <div class="next-btn">
          <%= submit_tag "On la prévient", class: "btn-red-wm no-border" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


