<div class="bg-image-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1513558161293-cdaf765ed2fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80)">
  <div class="container">
    <div class="d-flex align-items-start pt-3 pb-3">
      <%= image_tag "WeMeet-white.png", class: "logo-white"  %>
    </div>
    <div class="text-dispo pt-3">
      <p>Dommage, une prochaine <br>fois !</p>
    </div>
    <form class="mt-5">
      <div class="form-group">
        <input type="text" class="form-control input-nom mt-5 " placeholder="Ton nom..">
      </div>
      <%= link_to "On la prévient", root_path, class: "btn-white-wm-extra" %>
    </form>
  </div>
</div>
