<div class="share-top">

  <h1><%= @event.meetings.where(organizer: true)[0].user.name %> a envie de boire un verre ce soir !</h1>
</div>

<div class="share-bottom">
  <div class="event-dispo">
    <%= link_to "Dispo", event_meetings_path(@event, attending: true, organizer: false), method: :post, class: "btn-blue-wm btn-dispo" %>
  </div>
  <div>
    <%= link_to "Pas ce soir malheureusement", event_meetings_path(@event, attending: false, organizer: false), method: :post, class: "non-dispo" %>
  </div>
</div>


