// Define variables for your color scheme

// For example:
$green-a: #7DC980;
$red-na: #DF5F77;
$lighter-grey: #F9F9F9;
$light-grey: #AFACAC;
$dark-grey: #999999;
$darker-grey: #6A6A6A;
$red: #B10F2E;

