// Define variables for your color scheme

// For example:
$green-a: #57A773;
$red-na: #EE6352;
$lighter-grey: #F9F9F9;
$light-grey: #AFACAC;
$dark-grey: #999999;
$darker-grey: #6A6A6A;
$red: #B10F2E;
$dark-red: #8d0c25;
$blue: #00BDF2;
$wm-purple: #130816;
$wm-pink: #C70039;
$wm-orange: #FF5733;
