h1 {
  font-family: $headers-font;
  font-size: 32px;
  font-weight: bold;
  color: $darker-grey;
}

h2 {
  font-family: $headers-font;
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-family: $headers-font;
  font-size: 16px;
  font-weight: bold;
}


.white {
  font-family: $headers-font;
  font-size: 20px;
  color: white;
  font-weight: bold;
  background-color: $darker-grey
}

p {
  font-family: $body-font;
  font-size: 16px;
  color: $darker-grey;
}

body {
  margin: 0;
}

.container-wm {
  width: 98vw;
  margin: 0 auto;
}

.container-link a {
  text-decoration: none;
  color: $darker-grey;
  position: relative;
  top: 30px;
}
