.index-top {
  text-align: center;
  margin-bottom: 20px;
}

.btn-red-wm.share {
  position: fixed;
  bottom: 0;
  font-size: 24px;
}


@media(max-width: 350px) {
  .btn-red-wm.share {
    font-size: 18px;
  }
}
