<div class="container-wm">
  <div class="cadre-central">
    <br>
    <h1>✅ Nous avons bien enregistré tes votes pour l'événement</h1>
    <br>
    <h2>Nous t'envoyons le récapitulatif pour l'événement à <%= (event.deadline + 1800).to_s(:time) %></h2>
  </div>
</div>
