<div class="container-wm bg-wm">
  <div class="center-top">
    <i class="fas fa-check-circle"></i>
  <h1>Nous avons bien enregistré tes votes pour l'événement</h1>

  <h2>Nous t'enverrons le récapitulatif pour l'événement à <%= (event.deadline + 1800).to_s(:time) %></h2>
  </div>


</div>
