<div class="container-wm">
  <h1> Ton événement a bine été créé !</h1>

  <div class="container-link">
    <% link = "www.wemeet.bar/events/" + @event.id.to_s + "/meetings/new" %>
    <%= link_to link, class: "link-to-share" %>
  </div>


  <p class="share-p">Clique sur le bouton <em>Partage ton événement</em> pour inviter les amis de ton choix</p>
  <%= link_to "Partage ton événement", "#", class: "btn-red-wm share", data: { event: params[:event_id] } %>

</div>

