
<div class="container-wm">
  <div class="center-top">
    <i class="fas fa-check-circle"></i>
    <h1> Ton événement a bien été créé !</h1>
  </div>

  <div class="container-link link-to-share">
    <% link = "www.wemeet.bar/events/" + @event.id.to_s + "/meetings/new" %>
    <%= link %>
  </div>


  <p class="share-p">Clique sur le bouton <em>Partage ton événement</em> pour inviter les amis de ton choix</p>
  <div class="btn-bottom">
    <%= link_to "Partage ton événement", event_share_again_path(@event), class: "btn-red-wm share", data: { event: params[:event_id] } %>
  </div>

</div>

