  <div class="container-wm bg-wm">
    <div class="center-top">
      <i class="fas fa-check-circle"></i>
      <h1> Ton événement a bien été créé !</h1>
    </div>

    <div class="container-link link-to-share d-none">
      <% link = "/events/" + @event.id.to_s + "/meetings/new" %>
      <%= link %>
    </div>

    <div class="btn-bottom">
      <%= link_to "Partage ton événement", event_share_again_path(@event), class: "btn-blue-wm share", data: { event: params[:event_id] } %>
    </div>
  </div>
