<h1>Tanguy</h1>
<%#= simple_form_for (@user) do |f| %>
  <%#= f.input :name, placeholder: "Marie" %>
  <%#= f.input :phone_number, placeholder: "0683193546" %>
  <%#= f.input :address, placeholder: "16 Villa Gaudelet"%>
  <%#= f.submit "Crée ton événement", class: "red-na" %>
<%# end %>

<div class="container">
  <form id="form">
    <label for="Nom">Nom </label>
    <input type="text"  name="Nom" placeholder="Marie">
    <label for="Téléphone">Téléphone </label>
    <input type="text"  name="Téléphone" placeholder="0647634835">
    <label for="Adresse">Adresse </label>
    <input type="text"  name="Adresse" placeholder="16 Villa Gaudelet">
    <label for="A partir de">A partir de </label>
    <input type="text"  name="A partir de" placeholder="20h">
    <label for="Pas de réponse après"> Pas de réponse après: </label>
    <input type="submit" value="Crée ton évènement !" class="red-na">
  </form>
</div>








<h1>Adé</h1>
<h1>Sergio</h1>
<h1>Thibaud</h1>
