<h1>Tanguy</h1>
<%#= simple_form_for (@user) do |f| %>
  <%#= f.input :name, placeholder: "Marie" %>
  <%#= f.input :phone_number, placeholder: "0683193546" %>
  <%#= f.input :address, placeholder: "16 Villa Gaudelet"%>
  <%#= f.submit "Crée ton événement", class: "red-na" %>
<%# end %>

<div class="container">
  <form id="form">
    <label for="Nom">Nom </label>
    <input type="text"  name="Nom" placeholder="Marie">
    <label for="Téléphone">Téléphone </label>
    <input type="text"  name="Téléphone" placeholder="0647634835">
    <label for="Adresse">Adresse </label>
    <input type="text"  name="Adresse" placeholder="16 Villa Gaudelet">
    <label for="A partir de">A partir de </label>
    <input type="text"  name="A partir de" placeholder="20h">
    <label for="Pas de réponse après"> Pas de réponse après: </label>
    <input type="submit" value="Crée ton évènement !" class="red-na">
  </form>
</div>

---------------------------------------------------------

<h1> Partage ton évènement !</h1>
<div class="container-link">
  <a href="www.wemeet.com/your-event" class="link-share">www.wemeet.com/your-event/191108/ppdijfoihibbbbeiubiubeiubdkkckjbiuebiub</a>
</div>

<div class="link-white">
  <a href=""> pas ce soir malheureusement </a>
</div>


<h1>Adé</h1>
<br><br>
<%= link_to "Crée ton événement", "#", class: "btn-red-wm" %>
<br><br><br>
<%= link_to "Crée ton événement", "#", class: "btn-white-wm" %>
<br><br>
<h1 class="white">Sale journée ? Promotion à fêter ?<br>Sors ce soir !</h1>
<h1>Partage ton événement</h1> => enlever le background-color: $darker-grey dans _utilities.scss
<h1>On va où ?</h1>
<h1>À ce soir !</h1>

<p>Avec WeMeet, tu envoies l’invit mais on se charge du reste. Liste des participants, bar arrangeant pour tout le monde, itinéraire : on s’en occupe !</p>

<h1>Sergio</h1>
<h1>Thibaud</h1>
