<h1>Tanguy</h1>
<h1>Adé</h1>
<br><br>
<%= link_to "Crée ton événement", "#", class: "btn-red-wm" %>
<br><br><br>
<%= link_to "Crée ton événement", "#", class: "btn-white-wm" %>
<br><br>
<h1 class="white">Sale journée ? Promotion à fêter ?<br>Sors ce soir !</h1>
<h1>Partage ton événement</h1> => enlever le background-color: $darker-grey dans _utilities.scss
<h1>On va où ?</h1>
<h1>À ce soir !</h1>

<p>Avec WeMeet, tu envoies l’invit mais on se charge du reste. Liste des participants, bar arrangeant pour tout le monde, itinéraire : on s’en occupe !</p>

<h1>Sergio</h1>
<h1>Thibaud</h1>
