.btn-red-wm {
    text-align: center;
    padding: 16px 24px;
    color: white;
    background-color: $wm-orange;
    font-family: $body-font;
    font-size: 24px;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 16px rgba(255, 255, 255, 0.3);
}

@media(max-width: 350px) {
  .btn-red-wm {
      padding: 12px 24px;
  }
}

.btn-purple-wm {
    text-align: center;
    padding: 10px 20px;
    color: white;
    background-color: $wm-light-purple;
    font-family: $body-font;
    font-size: 16px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    align-self: flex-end;
    margin-bottom: 5em;
    &:hover {
      text-decoration: none;
    }
}

.btn-red-wm:hover {
    color: white;
    text-decoration: none;
}

.btn-white-wm {
    padding: 16px 24px;
    color: #B10F2E;
    background-color: white;
    font-family: $body-font;
    font-size: 18px;
    width: 100%;
    text-decoration: none;
}

.btn-white-wm-extra {
  padding: 16px 24px;
  color: #B10F2E;
  background-color: white;
  font-family: $body-font;
  font-size: 18px;
  min-width: 200px;
  text-decoration: none;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: fit-content;
}

.btn-white-wm-extra:hover {
  color: #B10F2E;
  text-decoration: none;
}

.btn-white-wm:hover {
    color: #B10F2E;
    text-decoration: none;
}

.link-red-wm {
  color: $wm-light-purple;
  text-decoration: none;
  text-decoration: underline;
  margin-bottom: 3em;
}

.last-action-back {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  margin-top: 4em;
}

.btn-blue-wm {
  text-align: center;
  padding: 16px 24px;
  color: white;
  background-color: $wm-orange;
  font-family: $body-font;
  font-size: 24px;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  }

@media(max-width: 350px) {
  .btn-blue-wm {
    padding: 12px 24px;
    font-size: 18px;
  }
}

.btn-blue-wm:hover {
    color: white;
    text-decoration: none;
}

.goto {
  margin-top: 8px;
  height: 34px;
}

.goto-icon {
  width: 40px;
  margin-top: -15px;
  margin-top: -2px;
}

.goto-it{
  margin-left:30px;
  text-align:left;
}

p.goto-text {
  color: white;
  font-size: 20px;
  margin-bottom:0px;
}

.btn-disabled {
  background-color: $light-grey;
}

.btn-dispo {
  border-radius: 6px;
}

.button-dommage{
  position: absolute;
  bottom: 0;
}


.fa-clock {

}

.last-action-calls {
  height: 5em;
  margin-top: 5em;
  .bouton-bas-last-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: $wm-pink;
  }
}

.bouton-haut-last-action {
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $wm-pink;
  margin-bottom: 2em;
}

.btn-space {
  padding-bottom: 100px;
}

.btn-sticky {
  text-align: center;
  padding: 16px 24px;
  color: white;
  background-color: $wm-orange;
  font-family: $body-font;
  font-size: 24px;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  position: fixed;
  bottom: 0;
  &.citymapper {
    z-index: 5;
  }
}

@media(max-width: 350px) {
  .btn-sticky {
    font-size: 18px;
    padding: 12px 24px;
  }
}





