.btn-red-wm {
    padding: 16px 24px;
    color: white;
    background-color: #B10F2E;
    border-radius: 8px;
    font-family: $body-font;
    font-size: 18px;
    width: 200px;
}



.btn-white-wm {
    padding: 16px 24px;
    color: #B10F2E;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.4);
    font-family: $body-font;
    font-size: 18px;
}
