.btn-red-wm {
    padding: 16px 24px;
    color: white;
    background-color: #B10F2E;
    border-radius: 5px;
    font-family: $body-font;
    font-size: 18px;
    min-width: 200px;
    text-decoration: none;
}


.btn-red-wm:hover {
    color: white;
    text-decoration: none;
}

.btn-white-wm {
    padding: 16px 24px;
    color: #B10F2E;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.4);
    font-family: $body-font;
    font-size: 18px;
    min-width: 200px;
    text-decoration: none;
}

.btn-white-wm:hover {
    color: #B10F2E;
    text-decoration: none;
}

.share {
  margin: 0 auto;
  display: block;
  width: 60%;
  text-align: center;
  position: relative;
  top: 400px;
}

