.card-bar {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 2em 0;
  position: relative;
}

.card-bar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  }

.card-img-name {
  height: 180px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.bar-name {
  height: 100%;
  width: 80%;
  display: flex;
  position: absolute;
  top: 5px;
  left: 5px;
  h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  }
}

.card-bar-ratings-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-bar-heart {
  right: 0px;
  top: -20px;
  position: absolute;
  font-size: 28px;
  padding: 1em;
  z-index: 1;
  background-color: white;
  border-radius: 50%;
  border: 2px solid $red;
  color: $light-grey;
  &.active {
    color: white;
    background-color: $red;
    border: 2px solid white;
  }
}

.card-bar-infos {
  padding: 1em;
}

i {
  color: $red;
}

.cheap {
  color: $light-grey;
}

.center-btn {
  width: 100%;
  text-align: center;
}

.confirm-choice {
  display: inline-block;
  position: sticky;
  bottom: 10px;
}


