.card {
  margin: 0 auto;
  border: none;
  align-items: center;
}

.card-participant {
  overflow: hidden;
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  border: solid 1px $light-grey;
  background-color: $lighter-grey;
  border-radius: 8px;
  width: 340px;
  margin: 10px;
}

.avatar-large {
  margin-left: 16px;
  height: 54px;
  width: 54px;
  border-radius: 50%;
}

.card-participant .card-participant-infos {
  padding: 16px;
  margin-left: 10px;
  padding-top: 50px;
}

.fa-check-circle .participants {
  position: relative;
  bottom: 30px;
  left: -50px;
  color: #7DC980;
}

.fa-stopwatch {
  position: relative;
  bottom: 41px;
  left: 94px;
  color: #7DC980;
}

.fa-check-circle {
  color: $green-a;
  font-size:14px;
  margin-left:-10px;
  margin-top:30px;
  font-size: 22px;
}

.fa-times-circle {
  font-size:14px;
  margin-left:-10px;
  margin-top:30px;
  font-size: 22px;
}

.fa-stopwatch {
  font-size:18px;
  margin-left: 25px;
}

.red-clock {
  color: $red;
}

.normal-clock {
  color: $green-a;
}

