#form {
  width: 200px;
  text-decoration: none;
}

.form-input {
  color: black;
}

.form-input {
  border: none;
  border-bottom: 2px solid #7DC980;
  padding: 0;
  height: 30px !important;
}

.container-form {
  margin-top: 100px;
}

.active {
  color: red;
}

.onglet-form {
  margin-bottom: 20px;
}

.next-btn {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 110px;
}

.create-btn {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 110px;

}

// .next {
//   margin: 0 auto;
//   display: block;
//   text-align: center;
//   margin-top: 110px;
// }

// .create {
//   margin: 0 auto;
//   display: block;
//   text-align: center;
//   margin-top: 110px;
// }

.container-link {
  border: 2px solid #DF5F77;
  color: black;
  text-decoration: none;
  text-align: center;
  background-color: #F9F9F9;
  display: inline-block;
  margin: 0 2px 0 2px;
  height: 100px;

  position: relative;
  top: 240px;
  width: 80%;
  display: block;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;

}

.container-link .link-share{
  color: black;
  background-color: transparent;
  background-color: #F9F9F9;
  overflow-wrap: break-word;
  text-decoration: underline;;
}

.link-white a {
  color: white;
  text-decoration: underline;
  background-color: #999999;
}
