.red-na {
  color: white;
  background: #B10F2E;
  border-radius: 16px;
  height: 60px;
  width: 200px;
  text-decoration: none;
}
#form {
  width: 200px;
}

.link-share {
  border: 2px solid #DF5F77;
  color: black;
  text-decoration: none;
  text-align: center;
  background-color: #F9F9F9;
  display: inline-block;
  margin: 0 4px 0 4px;
  height: 100px;


}

// // container-link {
// //   border: solid;
// //   width: 100px;
// //   margin: 150px;
// //   display: inline-block;


// }
