.logo-black {
  height: 48px;
}

.relative {
position: relative
}

.header {
  display: flex;
  align-items: start;
  padding-top: 0;
  padding-bottom: 2em;
}

.onglet-form {
  margin-bottom: 1em;
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onglet {
  padding: 4em 1em 1em 1em;
  margin: 0 1em;
  color: $light-grey;
  border-bottom: solid 1px $light-grey;
}

.active {
  color: $wm-purple;
  border-bottom: solid 1px $wm-orange;
}

.form-container {
  width: 70%;
  margin: 2em auto;
}

.dispo-question {
  margin-top: 3em;
}

label {
  margin-top: 3em;
  font-family: $body-font;
  color: $wm-purple;
  span {
    font-style: italic;
    color: $light-grey;
  }
}

.center-time{
  text-align: center;
}

.form-input {
  border: none;
  border-bottom: 2px solid $light-grey;
  padding: 0;
  height: 40px !important;
}

.valid-input {
  border-bottom: 2px solid $green-a;
}

.invalid-input {
  border-bottom: 2px solid $red-na;
}

.no-border {
  border: none;
  text-decoration: none;
}

.btn-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

input[type="time"] {
    text-align: center;
    justify-content: center;
}

.d-none {
  display: none;
}

// share

.container-link {
  border: 2px solid $green-a;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  background-color: white;
  color: $light-grey;
  width: 80%;
  margin: 0 auto;
  padding: 3em;
  word-break: break-all;
  text-decoration: underline;
}


.center-top {
  width: 80%;
  margin: 0 auto;
  padding: 5em 0;
  text-align: center;
  i {
    font-size: 80px;
    color: $wm-purple;
  }
  h1 {
    margin: 1em 0;
    color: $wm-purple;
  }
  &.show {
    padding-top: 5em;
    padding-bottom: 1em;
    width: 100%;
  }
}

.cheers {
  text-align: center;
  padding-top: 40px;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: white;
    background-color: $wm-orange;
    border-color: $wm-orange;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: white;
    background-color: $wm-orange;
    border-color: $wm-orange;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: white;
    background-color: $wm-orange;
    border-color: $wm-orange;
}


.btn-primary:hover {
    color: #fff;
    background-color: $wm-orange;
    border-color: $wm-orange;
}

.btn-secondary:hover {
    color: #fff;
    background-color: $wm-orange;
    border-color: $wm-orange;
}

.buttons-toggle {
  margin: 0 auto;
  display: block;
  padding: 1em 0;
  text-align: center;
  height: 100vh;
}

.btn-primary {
    color: $lighter-grey;
    background-color: $lighter-grey;
    border-color: $lighter-grey;
    font-size: 22px;
}

.btn-secondary {
    color: $lighter-grey;
    background-color: $lighter-grey;
    border-color: $lighter-grey;
    font-size:18px;
}

.form-check-input {
  display: none;
}

.form-check-label {
  width: 100px;
  background-color: $light-grey;
  border: solid 1px ;
}

.dispo-question {
  display: block;
  margin: 3em 0 1em 0;
  text-align: center;
}

#event_start_time {
  border: none;
  padding: 1.5em 1em;
  font-size: 24px;
  background-color: $lighter-grey;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  padding-left: 40px;
}

#rest-of-form {
  padding-top: 5em;
}

.home-bottom {
  label {
    margin-top: 1em;
  }
}

#rest-of-form {
  margin: 0;
  padding: 0;
}

.tag-home {
  font-size: 20px;
}

.tag-home-hour {
  font-size: 24px;
  margin-bottom: 0px;
}

.fa-chevron-down {
  font-size: 50px;
  color: $wm-pink;
  padding-bottom: 20px;
}

.middle {
  padding-top: 20px;
}

.arrows {
  display: block;
  margin: 20px auto;
  justify-content: center;
  text-align: center;
  justify-content: end;
}

#first-arrow {
  margin-top: 0px;
}


#form-2 {
  font-size: 20px;
  height: 100vh;
}

#form-3 {
  font-size: 20px;
  height: 100vh;
}

#form-4 {
  font-size: 20px;
  height: 100vh;
}
#form-5 {
  font-size: 20px;
  height: 91vh;
}

.form-control {
  font-size: 22px;
}

.form-bottom {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .container-wm {
    min-height: 100%;
    flex-grow: 1;
  }
  .form-container {
    margin-bottom: 0px;
  }
}

textarea::placeholder,
input::placeholder {
  opacity: 0.3 !important;
}

.dispo-question p{
  font-size: 22px;
}

#invite-1, #invite-2, #invite-3, #invite-4, #invite-5 {
  font-size: 20px;
}

.form-control:focus {
    border-color: $wm-pink;
    box-shadow: none;
}
