.event-dispo {
  padding-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-dispo {
  padding-left: 50px;
  padding-right: 50px;
}

.non-dispo {
    color: white;
    text-decoration: underline;
    background-color: transparent !important;
    justify-content: center;
    display: flex;
    margin-top: 250px;
}
