.bg-image-home {
  height: 736px;
  width: 100%;
  background-size: cover;
}

.home-description h1 {
  color: white;
  font-size: 22px;
  margin-top: 250px;
  font-weight: bold;
}

.btn-white-wm {
  font-weight: bold;
}

.home-explication p {
  color: black;
  margin-top: 230px;
  background-color: rgba(255,255,255, 0.7);
  padding: 10px;
}