.text-dispo p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:50px;
  font-size: 24px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.event-dispo {
  margin: 5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 350px) {
  .event-dispo {
    margin: 4em 0;
  }
}

.non-dispo {
    color: $wm-orange;
    text-decoration: underline;
    background-color: transparent !important;
    justify-content: center;
    display: flex;
    margin-bottom: 5em;
}
