.bg-image-home {
  height: 736px;
  width: 100%;
  background-size: cover;
}

.home-description h1 {
  color: white;
  font-size: 22px;
  padding-top: 300px;
  font-weight: bold;
}

.btn-white-wm {
  font-weight: bold;
}

.home-explication p {
  color:white;
  padding-top:190px;
}
