.loading-screen {
  background-color: $wm-purple;
  height: 100vh;
  width: 100vw;
  padding: 12em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.container-phone-search {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.home-top {
  padding: 2em 2em 5em 2em;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(199,0,57,1) 0%, rgba(255,87,51,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 60vh;
  width: 100vw;
  h3 {
    color: white;
  }
  h1 {
    color: white;
  }
}

.home-top2 {
  padding: 8em 3em 5em 3em;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(199,0,57,1) 0%, rgba(255,87,51,1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 60vh;
  width: 100vw;
  h3 {
    color: white;
  }
  h1 {
    color: white;
  }
}

.home-bottom {
  padding-bottom: 3em;
  padding-top: 5em;
  height: 45vh;
  width: 100vw;
  top: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.home-bottom-invisible {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-bottom-invisible > div {
  flex-grow: 1;
}


.home-first {
  position: relative;
}
