.link-share {
  position: relative;
  top: 18px;
}


.share-p {
  display: block;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 320px;
}


.share-h3 {
  position: absolute;
  top: 48px;
  left: 45px;
}
