.share-p {
  margin: 2em auto;
  display: block;
  width: 80%;
  text-align: center;
}

.share-top {
  padding: 2em 3em 5em 3em;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(199,0,57,1) 0%, rgba(255,87,51,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 60vh;
  width: 100vw;
  h3 {
    color: white;
  }
  h1 {
    color: white;
  }
}

.share-bottom {
  padding-bottom: 3em;
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.link-not-available {
  margin: 0;
  color: $blue;
}

.event-created:before {
  color: $wm-pink;
  font-size: 90px;
}


.bouton-bas {
  margin-top: 19vh;
  width: 100%;
  font-size: 24px;
}
