.share-p {
  margin: 2em auto;
  display: block;
  width: 80%;
  text-align: center;
}

.share-top {
  padding: 2em 3em 5em 3em;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(199,0,57,1) 0%, rgba(255,87,51,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 60vh;
  width: 100vw;
  h3 {
    color: white;
  }
  h1 {
    color: white;
    text-align: center;
    padding-top: 180px;
  }
}

.share-bottom {
  padding-bottom: 3em;
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.event-created:before {
  color: $wm-pink;
  font-size: 90px;
}

.bouton-bas-meetings {
  position: sticky;
  bottom: 0;
  width: 100%;
  font-size: 24px;
}

.bouton-bas {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 24px;
}


.eventok {
  padding: 70px 0px;
  border-top: 1px solid $wm-orange;
  p {
    font-size: 24px;
  }
}

#index-meetings {
  h3 {
    margin-top: 1em;
  }
  p {
    font-size: 19px;
  }
}

